frontend/node_modules
frontend/src/components/videos
backend/videos/
backend/__pycache__/
backend/*.pyc

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?